.workExpContainer{
    min-height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.companyNamebtn{
  height: 30px;
  border-right: 2px solid gray;
  color: #ccd6f6;
  min-width: 150px;
  text-align: left;
  font-size: small;
  cursor: pointer;
}
.companyName:hover{
  background-color: #64ffdb7c;
}

.active{
  border-right: 2px solid #64ffda;
  color: #64ffda;
}

@media only screen and (max-width: 575px) {
.companyNamesDiv{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.companyNamebtn{
  border-right: none;
  border-bottom: 2px solid gray;
  padding-left: 30px;

}
.active{
  border-right: none;
  border-bottom: 2px solid #64ffda;
}
.workExpContainer{
  margin-top: 100px;
}
}

.companyName{
  text-decoration: none;
  color: #64ffda;
}

.companyName:hover{
  color: #64ffda;
  text-shadow: 0 0 20px#64ffda;
}

.time{
  font-size: small;
  color: #64ffda;
}
.number{
  color:#64ffda ;
}