.aboutSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profileImg{
    height: 17rem;
    width: 17rem;
    min-width: 200px;
    border-radius: 8px;
    position: relative;
    bottom: 1rem;
    right: 1rem;
    filter: grayscale(100%);
    transition: .5s;
    border: 1px solid #64ffdb65;

}
.profileImg:hover{
    bottom: 1.5;
    right: 1.5;
    height: 16.5rem;
    width: 16.5rem;
}

.content{
    text-align: left;
    height: fit-content;
}

.para{
    color: #ccd6f6c4;
}

.headingRow{
    margin-bottom: 50px;
}

.overlay{
    background-color: #64ffdb50;
    height: 17rem;
    width: 17rem;
    position: relative;
    top: -17rem;
    right: 0rem;
    border-radius: 8px;

}
.overlay:hover{
    background-color: transparent;
}
.outline{
    height: 17rem;
    width: 17rem;
    border-right: 3px solid #64ffda; 
    border-bottom: 3px solid #64ffda; 
    border-radius: 8px;
    box-shadow: 8px 8px 20px #64ffda;

}

.txtContent{
    min-width: 30vw;
    margin-bottom: 50px;
}
.imgContent{
display:flex ;
flex-direction: column;
align-items: center;}

