.CButton{
    color: #64ffda;
    background-color: #0a192f;
    border: 1px solid #64ffda;
    padding: 4px 10px;
    border-radius:4px ;
    position: relative;
    bottom: 4px;
}
.CButton:hover{
    background-color: #64ffdb1d;
}