.subHeading{
    color: #64ffda;
    text-align: left;
}

.content{
    color: #ccd6f6c4;
    text-align: left;
}

.outline{
    height: 58px;
    width: 203.61px;
    position: relative;
    bottom: 3rem;
    left: .7rem;
    z-index: -1;
    border-radius: 4px;
    border-right: 3px solid #64ffda;
    border-bottom: 3px solid #64ffda;
    box-shadow: 8px 8px 20px #64ffda;
  }

