/* .projectImg{
    width: 100%;
    min-width: 15rem;
    border: 1px solid #64ffda;
    border-radius: 8px;
} */
.cardContainer{
    border-right: 3px solid #64ffda;
    border-bottom: 3px solid #64ffda;
    border-radius: 8px;
    padding: 0;
    box-shadow: 8px 8px 20px #64ffda;
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;


}
/* .card{
    border:1px solid #64ffda;
    position: relative;
    bottom: 1rem;
    right: 1rem;
    background-color: #0a192f;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: 0.5s;
} */
/* .title{
    color: #ccd6f6;
} */

.card{
    background-color: #112240;
    color: #ccd6f6;
    text-align: left;
    position: relative;
}
.icon{
    color: #ccd6f6;
    font-size: 1rem;
}
.icon:hover{
    color: #64ffda;
}

.desc{
    color: #ccd6f6c4;
}
.card:hover{
    color: #64ffda;
    bottom: 1rem;
}
.title{
    margin-top: 10px;
}

.techUsed{
    font-size: x-small;
    color: #64ffda;
}