.IntroSection {
  text-align: left;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding:0%;
}
.content {
  position: relative;
  top: -50px;
}

.introStart {
  color: #64ffda;
  margin-bottom: 30px;
}

.name {
  font-size: 3rem;
  font-weight: 800;
  color: #ccd6f6;
  margin-bottom: 30px;
}
.iDo {
  font-size: 3rem;
  font-weight: 800;
  color: #ccd6f6c4;
  margin-bottom: 30px;
}

.IntroPara {
  color: #ccd6f6c4;
}
.particle {
  position: absolute;
  top: -100px;
  z-index: -1;
  height: 90vh;
  width: 100%;
}

.outline{
  height: 58px;
  width: 203.61px;
  position: relative;
  bottom: 3rem;
  left: .7rem;
  z-index: -1;
  border-radius: 4px;
  border-right: 3px solid #64ffda;
  border-bottom: 3px solid #64ffda;
  box-shadow: 8px 8px 20px #64ffda;
}
@media only screen and (max-width: 550px) {

  .name{
    line-height: 1;
  }
  .iDo{
    line-height: 1;
  }
  .IntroPara{
    margin-bottom: 0;
  }
}