.IntroSection {
  text-align: left;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding:0%;
}
.content {
  position: relative;
  top: -50px;
}

.introStart {
  color: #64ffda;
  margin-bottom: 30px;
}

.name {
  font-size: 3rem;
  font-weight: 800;
  color: #ccd6f6;
  margin-bottom: 30px;
}
.iDo {
  font-size: 3rem;
  font-weight: 800;
  color: #ccd6f6c4;
  margin-bottom: 30px;
}

.IntroPara {
  color: #ccd6f6c4;
}
.particle {
  position: absolute;
  top: -100px;
  z-index: -1;
  height: 90vh;
  width: 100%;
}
.contactMeBtn {
  padding: 16px 48px;
  position: relative;
  top: 0px;
  z-index: 2;
  margin-top: 90px;
  box-shadow: 0 0 20px #64ffda;
}

.outline{
  height: 58px;
  width: 203.61px;
  position: relative;
  bottom: 3rem;
  left: .7rem;
  z-index: -1;
  border-radius: 4px;
  box-shadow: 0 0 20px #64ffda;
  border: 3px solid #64ffda;
}
/* @media only screen and (max-width: 420px) {
  .IntroSection {
    text-align: center;
  }
} */